<mat-toolbar class="mat-elevation-z4 header1">
    <span>
        <div class="material-icons icon">
                supervisor_account
        </div>
    </span>
    <span>
        <h1>
            Portal do <br> Titular de Dados
        </h1>
    </span>
    <div class="btnLink">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="90">
            <path d="M 12.394 0.482 L 181.5 0.482 L 170.123 130.518 L 0.5 130.518 Z" fill="#1985a1"></path>
        </svg>
        <!-- Graphic -->
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="90">
            <path d="M 12.394 0.482 L 181.5 0.482 L 170.123 130.518 L 0.5 130.518 Z" fill="#969A92"></path>
        </svg>
    </div>
    <div class="nameLink">
        <a routerLink="/solicitacoes">
            Solicitações
        </a>
        <a routerLink="/cadastro">
            Cadastro
        </a>
    </div>

    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>

    <span class="setpower">
        <div class="material-icons iconpower">
            settings_power
        </div>
    </span>
</mat-toolbar>
