<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<app-cabecalho1></app-cabecalho1>

<mat-card class="login mat-elevation-z4">
    <!--<mat-card-title class="title"></mat-card-title>
    <mat-card-subtitle class="subtitle">E-mail
    </mat-card-subtitle>

    <mat-card-subtitle class="subtitle">E-mail
    </mat-card-subtitle>-->
    <div class="dadosLogin1">
        <div class="espaco">
        
            <label>E-mail:
                <input placeholder="E-mail" type="text">
            </label>
        
        </div>

        <div>
            <label>Senha:
                <input placeholder="Senha" type="text">
            </label>
        </div>
        <div>
            <a class="esqueciSenha">
                <i> Esqueci minha senha </i>
            </a>
        </div>

        <div>
            <button mat-raised-button class="btnLogin" routerLink="/solicitacoes" color="primary">
                Login
            </button>
        </div>

        <hr>

        <div >
        
            <label>E-mail:
                <input placeholder="E-mail" type="text">
            </label>
        
        </div>

        <div>
            <button mat-raised-button class="btnLogin" color="primary">
                Cadastre-se
            </button>
        </div>

    </div>
</mat-card>]

<div class="footerLogin">
    <app-footer></app-footer>
</div>

<!--<button>
    Entrar
</button>-->
