
.textoCadastro {

    margin: 30px;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;

}

.hr {
    color: #4c5c68;
  }

.linhaHo {
    margin-left: 100px;
    margin-right: 100px;
}

mat-card {
    background-color: #1985a1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  }

  .formCadastro {
      margin:15px
  }