<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<app-cabecalho2></app-cabecalho2>

<section>

    <div class="textoCadastro" >
        <span>
            Olá! Seja bem-vindo. <br> Para que você possa usar o Portal do Titular como canal de comunicação 
            com o nosso DPO, precisamos confirmar alguns de seus dados e conferir a autenticidade do seu cadastro.<br><br>
            Para isso, preencha os dados a seguir e, na sequência, valide o link que iremos enviar para o seu 
            e-mail. Depois disso, assim que nossa equipe validar a autenticidade de suas informações, você 
            poderá navegar no Portal do Titular e gerenciar suas solicitações para nossa equipe de privacidade.<br><br>
            Lembre-se que, enquanto seu cadastro não fica pronto, você ainda pode falar com nosso DPO através 
            do e-mail XXXXXXXX@XXXXXX!
        </span>
    </div> 
    <div class="linhaHo">
        <hr> 
    </div>

    <div class="container">
        <div class="formCadastro">
            <mat-card>
                <mat-card-title appAtributos > Novo Produto </mat-card-title>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Nome"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Preço R$"/>
                    </mat-form-field>
                </form>
            
                <button mat-raised-button class="btnSalvaNovoProduto" color="primary">
                    Salvar
                </button>
            
                <button mat-raised-button class="btnCancelaNovoProduto">
                    Cancelar
                </button>
            
            </mat-card>
        </div>

        <div class="formCadastro">
            <mat-card>
                <mat-card-title appAtributos > Novo Produto </mat-card-title>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Nome"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Preço R$"/>
                    </mat-form-field>
                </form>
            
                <button mat-raised-button class="btnSalvaNovoProduto" color="primary">
                    Salvar
                </button>
            
                <button mat-raised-button class="btnCancelaNovoProduto">
                    Cancelar
                </button>
            
            </mat-card>
        </div>

        <div class="formCadastro">
            <mat-card>
                <mat-card-title appAtributos > Novo Produto </mat-card-title>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Nome"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Preço R$"/>
                    </mat-form-field>
                </form>
            
                <button mat-raised-button class="btnSalvaNovoProduto" color="primary">
                    Salvar
                </button>
            
                <button mat-raised-button class="btnCancelaNovoProduto">
                    Cancelar
                </button>
            
            </mat-card>
        </div>
    </div>

</section>
<app-footer></app-footer>
