<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<app-cabecalho2></app-cabecalho2>

<section class="solicitacaoConteudo">

    <div class="container">
        <div>
            <button mat-raised-button class="btnSolicitacao" color="primary">
                Nova Solicitação
            </button>
        </div>
        <div class="linha-vertical"></div> 
        <div>
            <button mat-raised-button class="btnhistorico" color="primary">
                historico de Solicitações
            </button>
        </div>
    </div>

</section>

<app-footer></app-footer>

