.linha-vertical {
    height: 500px;/*Altura da linha*/
    color: #4c5c68;
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  }

  .solicitacaoConteudo {
      margin-top: 30px;
      margin-bottom: 15px;
      display: flex;
      position:relative;
      margin: 10px 230px 10px 230px;
      width: 50%;
  }

button{ 
    background-color: rgb(25, 133, 161);
    color: white;
    height: 100px;
    width: 300px;
    font-size: 1.0rem;
}

.btnSolicitacao {
    margin-right: 150px;
    margin-top: 200px
}

.btnhistorico {
    margin-left: 140px;
    margin-top: 200px
}